:host {
  display: block;
  min-height: 100vh;
  background-image: url('/assets/images/admin.jpg'); // <-- adjust path if needed
//   background-color: yellow;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-wrapper {
  width: 100%;
}

.card {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 20px rgba(250, 248, 248, 0.7);
}

.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
   box-shadow: 0 0 20px rgba(250, 248, 248, 0.6);
}

