<div class="d-flex justify-content-center align-items-center vh-100 px-3">
  
  <div class="w-100" style="max-width: 400px;">
  
    <div class="card p-4 shadow-lg">
      <h2 class="text-center mb-4">Admin Login</h2>
      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label>Username</label>
          <input [(ngModel)]="email" name="email" type="email" class="form-control" required />
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input [(ngModel)]="password" name="password" type="password" class="form-control" required />
        </div>
        <button class="btn btn-primary w-100" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
